{% extends "layout.html" %}

<style>
.table
{
	display:table;
	border-collapse:separate;
	border-spacing:2px;
}
.thead
{
	display:table-header-group;
	color:white;
	font-weight:bold;
	background-color:grey;
}
.tbody
{
	display:table-row-group;
}
.tr
{
	display:table-row;
}
.td
{
	display:table-cell;
	border:1px solid black;
	padding:1px;
}
</style>

{% block body %}

  <h2>Dodaj wpis</h2>
  

<div class="table">
	<div class="thead">
		<div class="tr">
			<div class="td">Perfumy</div>
			<div class="td">Sztuk</div>
			<div class="td">Atomizer?</div>
			<div class="td">Miasto</div>
			<div class="td">Nick</div>
			<div class="td">Kupię...</div>
			<div class="td">klucz do usuwania</div>
		</div>
	</div>
	<div class="tbody">
		<form  class="tr" action="{{ url_for('wpis') }}" method="post">
			<div class="td"><input id="perfum" type="text" name="perfum" placeholder="dior, aqua di gio..." required /></div>
			<div class="td"><input id="ilosc" type="number" name="ilosc" placeholder="1" required /></div>
			<div class="td"><input id="atomizer" type="checkbox" name="atomizer" /></div>
			<div class="td"><input id="miasto" type="text" name="miasto" placeholder="opcjonalnie, ew tylko 'wysyłka'..." /></div>
			<div class="td"><input id="nick" type="text" name="nick" placeholder="do kogo pisac na wykopie" required /></div>
			<div class="td"><input id="kupie" type="checkbox" name="kupie" /></div>
			<div class="td"><input id="klucz" type="text" name="klucz" placeholder="zapisz mnie" required /></div>
			<div class="td action"><button type="submit">dodaj</button></div><!-- onclick="edit(this); -->
    		</form>
  </div>
</div>
    
  <h2>Usuń wpis:</h2>
  <form action="{{ url_for('delete') }}" method="post">
    
    <label for="number">numer wpisu</label>
    <input id="number" type="number" name="number" placeholder="1" required />
    <label for="klucz">klucz do usuwania</label>
    <input id="klucz" type="text" name="klucz" placeholder="" />
    <button type="submit">usun</button>
    
  </form>

  <h2>Wpisy rozlewek/zapotrzebowań:</h2>
  <table id=perfumy>
  <tr>
    <th width="5%">numer</th>
    <th>perfum</th>
    <th>ilosc</th>
    <th>atomizer</th>
    <th>miasto</th>
    <th>nick</th>
  {% for w in wpisy %}
   {% if w.kupie is true %}
    <tr class="buying">
   {% else %}
    <tr class="selling">
   {% endif %}
      <td> {{ w.id }} </td>
      <td> {{ w.perfum }} </td>
      <td> {{ w.ilosc }} </td>
      <td> {{ w.atomizer }} </td>
      <td> {{ w.miasto }} </td>
      <td> <a href="https://www.wykop.pl/ludzie/{{ w.nick }}">{{ w.nick }}</a></td></tr> 
  {% else %}
    <tr><td colspan=6> Brak wpisow. </td></tr>
  {% endfor %}
   </table>

{% endblock %}
